*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  width: 100%;
}

.counter{
  border: 2px solid purple;
  padding: 30px;
  width: 400px;
  height: 200px;
  margin: 30px auto;
}
.counter h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.margin{
  margin: 30px 0;
}

.buttons button{
  width: 100px;
  margin-right: 10px;
  border: 2px solid purple;
  font-size: 20px;
}

.box{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin: 5px;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
}

.box-wrapper{
  width: 100%;
}


